<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Greet Bhai</title>
	<link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Enter Your Name, Bhai!</h1>
    <form action="/greet" method="post" th:object="${userForm}">
        <label for="myname">Name:</label>
        <input type="text" id="name" name="myname" th:field="*{name}">
		<span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        <button type="submit">Greet Me!</button>
    </form>
    <h2 th:text="${greeting}"></h2>
	
	<h3>Stored Names:</h3>
	    
		
		<li th:each="user : ${users}">
		            <span th:text="${user.name}"></span>
		            <a th:href="@{/delete/{id}(id=${user.id})}"><button>Delete</button></a>
		</li>
				
		<a href="/clear"><button>Clear All Names</button></a>
		
	<a href="/index">back to home </a>
</body>
</html>